<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Segnapunti Munchkin</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Segnapunti Munchkin</h1>

    <form action="/add_player" method="post">
        <input type="text" name="name" placeholder="Nome Giocatore" required>
        <button type="submit">Aggiungi Giocatore</button>
    </form>

    <h2>Giocatori</h2>
    <form action="/start_game" method="post">
        <ul>
            {% for player in players %}
            <li>
                <input type="checkbox" name="players" value="{{ player.id }}" 
                    {% if player.name in ['Raffaello', 'Francesco', 'Ettore', 'Pierclaudio'] %}
                        checked
                    {% elif player in current_players %}
                        checked
                    {% endif %}
                >
                {{ player.name }}
            </li>
            {% endfor %}
        </ul>
        <button type="submit">Inizia la Partita</button>
    </form>

    <!-- Aggiungi il pulsante per terminare la partita -->
    <form action="/end_game" method="post">
        <button type="submit" {% if not current_game_players %}disabled{% endif %}>Termina Partita</button>
    </form>

    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Livello</th>
                <th>Azioni</th>
            </tr>
        </thead>
        <tbody>
            {% for player_data in current_players %}
                <tr>
                    <td>{{ player_data.player.name }}</td>
                    <td>{{ player_data.level if player_data.level is not none else 'N/A' }}</td>
                    <td>
                        <form action="/update_level/{{ player_data.player.id }}/p1" method="get" style="display:inline;" id="form-pulsanti">
                            <button type="submit" class="btn btn-increment">+1</button>
                        </form>
                        <form action="/update_level/{{ player_data.player.id }}/m1" method="get" style="display:inline;" id="form-pulsanti">
                            <button type="submit" class="btn btn-decrement">-1</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="/ranking">Vai alla classifica</a>

    <!-- Aggiungi il file JavaScript -->
    <script src="{{ url_for('static', filename='js/autoscroll.js') }}"></script>
</body>
</html>
